/*** FONTS ***/
@font-face{
	font-family: "courier";
	src: local("Fonts/cour.ttf") format("truetype"), local("Fonts/courbd.ttf"), local("Fonts/couri.ttf"), local("Fonts/courbi.ttf");
}


/*** COMMON STYLES ***/
/* Common HTML Styles */
body{
	color: #000000;
	font-family: "courier";
	font-size: 8pt;
	cursor: default;
	overflow: hidden;
}
a, a:visited{
	text-decoration: none;
	border: 0px;
	outline: none;
	color: #595454;
	border-bottom: 1px dotted #595454;
}
a img{
	border: 0px;
	outline: none;
}

/* Main Page Styles */
.bodyMain{
	background: transparent url("../img/background_images/BackgroundLogin.jpg") repeat;
}
.containerHeader{
	position: absolute;
	border: 3px ridge #e3e4fa;
	height: 105px;
	top: 10px;
	left: 10px;
	right: 10px;
	-moz-box-shadow: 0px 0px 15px #ffffff; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #ffffff; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
	background: transparent url("../img/background_images/BackgroundLogin12.jpg") repeat-x 50% 50%;
	overflow: hidden;
	padding-left: 10px;
}
.containerContent{
	position: absolute;
	border: 3px ridge #e3e4fa;
	top: 130px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	-moz-box-shadow: 0px 0px 15px #ffffff; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #ffffff; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
	background: transparent url("../img/background_images/BackgroundLogin12.jpg") repeat-x 50% 50%;
	overflow: visible;
	padding: 10px;
}
.rivetTopLeft, .rivetTopRight, .rivetBottomLeft, .rivetBottomRight{
	position: absolute;
	width: 24px;
	height: 24px;
	background: transparent url("../img/background_images/rivet.png") no-repeat;
}
.rivetTopLeft{
	top: 4px;
	left: 5px;
}
.rivetTopRight{
	top: 4px;
	right: 5px;
}
.rivetBottomLeft{
	bottom: 4px;
	left: 5px;
}
.rivetBottomRight{
	bottom: 4px;
	right: 5px;
}
.containerWelcome{
	position: absolute;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
	text-align: center;
}
.containerWelcome img{
	position: absolute;
	width: 672px;
	height: 296px;
	top: 50%;
	left: 50%;
	margin-top: -148px;
	margin-left: -336px;
}
.containerMotto{
	position: absolute;
	top: 57%;
	left: 35%;
	font-size: 14pt;
	font-weight: bold;
	color: #6D7B8D;
	text-shadow: #6D7B8D 8px 1px 12px;
}
.containerTicker{
	position: absolute;
	width: 600px;
	right: 20px;
	bottom: 20px;
}
.listTicker{
	font-size: 24pt;
	font-style: italic;
	color: #6698ff;
}
.logoMain{
	position: absolute;
	width: 248px;
	height: 109px;
	left: 40px;
	text-align: right;
	color: #000000;
	font-size: 13pt;
	text-shadow: #ffffff 1px 1px 5px;
	background: transparent url("../img/logo_images/LogoSilverBulletSmall.png") no-repeat 0px -10px;
	padding-top: 55px;
	vertical-align: middle;
}
.containerVersion{
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 9pt;
	font-weight: bold;
	color: #800517;
	width: 275px;
	text-align: right;
}
.containerWeatherFeed{
	color: #657383;
	width: 250px;
	text-indent: 24px;
}
.weatherImage img{
	position: absolute;
	width: 75px;
	left: 20px;
	margin-top: 9px;
}
.weatherLocation, .weatherTemperature, .weatherConditions{
	position: relative;
	text-align: left;
}
.weatherLocation{
	width: 100%;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
}
.weatherLocation img{
	position: absolute;
	width: 24px;
	height: 24px;
}
.weatherTemperature{
	font-size: 8pt;
	left: 45px;
}
.weatherConditions{
	font-size: 8pt;
	left: 45px;
}
.containerUserInfo{
	position: absolute;
	width: 700px;
	height: 90px;
	right: 35px;
	display: none;
}
.containerUserIPInfo{
	position: absolute;
	width: auto;
	height: auto;
	top: 0px;
	left: 0px;
	padding: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #000000, #2B547E); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #000000, #2B547E); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #000000, #2B547E); /* IE 10 */
	background-image: -o-linear-gradient(top, #000000, #2B547E); /* Opera 11.10+ */
	background-image: linear-gradient(top, #000000, #2B547E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#2B547E'); /* IE6 – IE9 */
	border:1px solid; border-color:#CCC #000 #000 #CCC; /* All Browsers */
	z-index: 1000;
	font-size: 8pt;
	color: #ffffff;
	display: none;
}
.containerUserIPInfo table{
	padding: 0px;
	vertical-align: middle;
}
.containerUserIPInfo table tr td{
	vertical-align: middle;
	height: 10px;
}
.containerUserAvatar{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 10px;
	border: 1px ridge #254117;
	-moz-box-shadow: 0px 0px 15px #57E964; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #57E964; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #57E964; /* Opera 10.5, IE9, Chrome 10+ */
}
.containerTableUserInfo{
	position: absolute;
	top: 5px;
	left: 105px;
}
.tableUserInfo{
	border: 0px;
	color: #ffffff;
	font-size: 12pt;
	padding: 0px;
}
.tdUserName{
	color: #357EC7;
	font-size: 12pt;
	font-weight: bold;
	width: 300px;
}
.tdUserPosition{
	color: #2B547E;
	font-size: 11pt;
	font-style: italic;
	text-indent: 5px;
}
.tdUserStatus{
	color: gray	;
	font-size: 8pt;
	vertical-align: top;
}
.containerUserAvatar img{
	width: 80px;
	height: 80px;
}
.containerTableLogin{
	position: absolute;
	width: 680px;
	top: 10px;
	right: 35px;
}
.tableLogin{
	border: 0px;
	color: #ffffff;
	font-size: 11pt;
}
.tdLoginLabel{
	width: 170px;
	text-align: right;
}
.tdButton, .tdButton2{
	text-align: right;
	font-style: italic;
	cursor: pointer;
	width: 280px;
}
.tdButton{
	font-size: 10pt;
	font-weight: bold;
	padding-right: 25px;
	height: 20px;
}
.tdButton2{
	font-size: 8pt;
	padding-right: 20px;
}

/* Loader Styles */
.containerLoading{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: transparent url("../img/overlay_images/OverlayLoading.png") repeat;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
	z-index: 1000;
	display: none;
	-moz-border-radius: 9px; /* Firefox 1 - 3.6 */
	-webkit-border-radius: 9px; /* Safari 3 - 4 */
	border-radius: 9px; /* Opera 10.5+, IE9, Safari 5, Chrome, FF4 */ 
}
.progressLoading{
	position: absolute;
	width: 128px;
	height: 15px;
	top: 50%;
	left: 50%;
	margin-left: -64px;
	margin-top: -8px;
	background: transparent url("../img/loader_images/loaderProgress.gif") no-repeat;
	z-index: 1001;
}
.progressLoading div{
	width: 128px;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
}
.clickHereButton{
	position: absolute;
	height: 40px;
	z-index: 11000;
}
.clickHereButton img{
	height: 40px;
}

/* Main Menu Styles */
.containerMainMenu{
	position: relative;
	left: 0px;
	top: 0px;
	height: 32px;
	width: 100%;
	overflow: hidden;
}
.logoMainMenu{
	position: relative;
	left: 50px;
	top: 1px;
	height: 28px;
	width: 74px;
	padding: 5px;
	z-index: 100;
}
.logoMainMenuActive{
	-moz-border-radius-topleft: 12px; /* Firefox 1 - 3.6 */
	-webkit-border-top-left-radius: 12px; /* Safari 3 - 4 */
	border-top-left-radius: 12px; /* Opera 10.5+, IE9, Safari 5, Chrome, FF4 */
	-moz-border-radius-topright: 12px; /* Firefox 1 - 3.6 */
	-webkit-border-top-right-radius: 12px; /* Safari 3 - 4 */
	border-top-right-radius: 12px; /* Opera 10.5+, IE9, Safari 5, Chrome, FF4 */
	border-top: 1px solid #463E41;
	border-left: 1px solid #463E41;
	border-right: 1px solid #463E41;
	border-bottom: 1px solid #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#000000)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #4682b4, #000000); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #4682b4, #000000); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #4682b4, #000000); /* IE 10 */
	background-image: -o-linear-gradient(top, #4682b4, #000000); /* Opera 11.10+ */
	background-image: linear-gradient(top, #4682b4, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#000000'); /* IE6 – IE9 */
	-moz-box-shadow: 5px 0px 12px -5px #888888; /* FF3.5+ */
	-webkit-box-shadow: 5px 0px 12px -5px #888888; /* Safari 3.0+, Chrome */
	box-shadow: 5px 0px 12px -5px #888888; /* Opera 10.5, IE9, Chrome 10+ */
}
.logoMainMenu img, .logoMainMenuActive img{
	height: 28px;
	width: 74px;
	cursor: pointer;
}
.logoMainMenu span, .logoMainMenuActive span{
	position: absolute;
	top: 7px;
	left: 12px;
	height: 100%;
	width: 100%;
	font-size: 16pt;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	text-shadow: #000 1px 1px 3px;
	vertical-align: middle;
}
.logoMainMenuActive span{
	color: #FBB917;
}
.contentMainMenu{
	position: absolute;
	height: auto;
	width: auto;
	-moz-border-radius: 12px; /* Firefox 1 - 3.6 */
	-webkit-border-radius: 12px; /* Safari 3 - 4 */
	border-radius: 12px; /* Opera 10.5+, IE9, Safari 5, Chrome, FF4 */
	border-top: 1px solid #463E41;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #463E41;
	padding: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4682b4)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #000000, #4682b4); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #000000, #4682b4); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #000000, #4682b4); /* IE 10 */
	background-image: -o-linear-gradient(top, #000000, #4682b4); /* Opera 11.10+ */
	background-image: linear-gradient(top, #000000, #4682b4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#4682b4'); /* IE6 – IE9 */
	-moz-box-shadow: 0px 0px 10px #888888; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 10px #888888; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 10px #888888; /* Opera 10.5, IE9, Chrome 10+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.menuItem{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	-moz-box-shadow: 0px 0px 15px #000000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #000000; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #000000; /* Opera 10.5, IE9, Chrome 10+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#000000)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #4682b4, #000000); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #4682b4, #000000); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #4682b4, #000000); /* IE 10 */
	background-image: -o-linear-gradient(top, #4682b4, #000000); /* Opera 11.10+ */
	background-image: linear-gradient(top, #4682b4, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#000000'); /* IE6 – IE9 */
	border: 1px ridge #ffffff;
	padding: 0px;
	cursor: pointer;
}
.menuItemOverlay ,.menuItemContent{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4682b4), to(#000000)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #4682b4, #000000); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #4682b4, #000000); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #4682b4, #000000); /* IE 10 */
	background-image: -o-linear-gradient(top, #4682b4, #000000); /* Opera 11.10+ */
	background-image: linear-gradient(top, #4682b4, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#000000'); /* IE6 – IE9 */
	padding: 0px;
}
.menuItemOverlay{
	z-index: 20;
	border: 0px solid #ffffff;
}
.menuItemHover{
	border: 1px ridge #FBB917;
	-moz-box-shadow: 0px 0px 15px #FBB917; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #FBB917; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #FBB917; /* Opera 10.5, IE9, Chrome 10+ */
}
.menuItemIcon{
	position: absolute;
	top: -20px;
	left: -10px;
	width: 70px;
	height: 70px;
}
.menuItemIcon img{
	position: absolute;
	width: 70px;
	height: 70px;
}
.menuItemTitle{
	position: absolute;
	left: 0px;
	width: 100%;
	height: auto;
	font-weight: bold;
	text-align: center;
	color: #000;
	text-shadow: #fff 1px 0px 6px;
}
.menuItemOverlay .menuItemTitle{
	bottom: 0px;
	font-size: 13pt;
}
.menuItemContent .menuItemTitle{
	top: -10px;
	font-size: 9pt;
}
.menuItemDescription{
	position: absolute;
	top: 16px;
	left: 2px;
	width: 96px;
	height: 55px;
	font-size: 8pt;
	font-style: normal;
	text-align: center;
	color: silver;
	overflow: hidden;
	text-shadow: #000 0px 1px 1px;
	padding: 0px;
}
.menuItemButtonbar{
	position: absolute;
	bottom: 4px;
	right: 7px;
	width: 140px;
	text-align: right;
	padding: 0px;
}
.menuItemButtonbar img{
	margin: -3px;
	padding: 0px;
	height: 16px;
	width: 16px;
}
.menuNext{
	position: relative;
	float: left;
	top: 50px;
}
.menuNext img{
	width: 25px;
}
.menuSeperator{
	position: relative;
	float: left;
	height: 85px;
	width: 40px;
	text-align: center;
	top: 15px;
	overflow: hidden;
}
.menuSeperator img{
	-moz-box-shadow: 0px 0px 15px #ffffff; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 15px #ffffff; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 15px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
	vertical-align: middle;
}


/*** WIDGET STYLES ***/
/* Rounded Corners */
.rounded {
	-moz-border-radius: 12px; /* Firefox 1 - 3.6 */
	-webkit-border-radius: 12px; /* Safari 3 - 4 */
	border-radius: 12px; /* Opera 10.5+, IE9, Safari 5, Chrome, FF4 */ 
}
/* Beveled Effect */
.bevel { 
	border:2px solid; border-color:#CCC #000 #000 #CCC; /* All Browsers */
}
/* Gradient Effect */
.gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #444444, #999999); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #444444, #999999); /* FF 3.6 */
	background-image: -ms-linear-gradient(top, #444444, #999999); /* IE 10 */
	background-image: -o-linear-gradient(top, #444444, #999999); /* Opera 11.10+ */
	background-image: linear-gradient(top, #444444, #999999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999'); /* IE6 – IE9 */
}
/* Drop Shadow */
.drop_shadow {
	-moz-box-shadow: 3px 3px 4px #000; /* FF 3.5+ */
	-webkit-box-shadow: 3px 3px 4px #000; /* Safari 3.0+, Chrome */
	box-shadow: 3px 3px 4px #000; /* Opera 10.5, IE9, Chrome 10+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); /* IE 5.5 - 7 */
}
/* Glow Shadow */
.glow_shadow {
	-moz-box-shadow: 0px 0px 6px #666; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 6px #666; /* Safari 3.0+, Chrome */
	box-shadow: 0px 0px 6px #666; /* Opera 10.5, IE9, Chrome 10+ */
}
